<% if variant_quotation_requests.any? %>
  <table class="table sortable" data-hook="variant_quotation_requests_table">
    <thead>
      <tr data-hook="variant_quotation_requests_header">
        <th> User </th>
        <th> Sku </th>
        <th> Quantity </th>
        <th> Price </th>
        <!--<th> Status </th>-->
        <th class="actions">Send</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% variant_quotation_requests.each do |variant_quotation_request| %>
        <tr id="<%= spree_dom_id variant_quotation_request %>" data-hook="variant_quotation_requests_row">
          <td> <%= variant_quotation_request.user&.email rescue nil %> </td>
          <td> <%= variant_quotation_request.variant&.sku %> </td>
          <td> <%= variant_quotation_request.quantity %> </td>
          <td> <%= variant_quotation_request.price %> </td>
          <!--<% status = variant_quotation_request.status.titleize %>
          <% if status == 'New' %>
            <td style='color: blue;'> <%= status %> </td>
          <% elsif status == 'In Conversation' %>
            <td style='color: green;'> <%= status %> </td>
          <% elsif status == 'Closed' %>
            <td style='color: red;'> <%= status %> </td>
          <% end %>-->
          <% if variant_quotation_request.status == 'closed' %>
            <td style="text-align: center;"><%= svg_icon name: "send-dash.svg", width: '15', height: '15' %></td>
          <% elsif ['new', 'in_conversation'].include?(variant_quotation_request.status) %>
            <td><%= link_to_with_icon 'send.svg', '', send_quotation_accepted_email_admin_variant_quotation_request_path(variant_quotation_request.id) %></td>
          <% end %>
          <td class="actions actions-2 text-right">
            <%= link_to_edit variant_quotation_request, no_text: true, class: 'edit' if can?(:edit, variant_quotation_request) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::VariantQuotationRequest)) %>
  </div>
<% end %>
